[submodule "bundle/easymotion"]
	path = bundle/easymotion
	url = git://github.com/Lokaltog/vim-easymotion.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/sparkup"]
	path = bundle/sparkup
	url = http://github.com/bingaman/vim-sparkup.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/matchtag"]
	path = bundle/matchtag
	url = git@github.com:gregsexton/MatchTag.git
[submodule "bundle/xml"]
	path = bundle/xml
	url = https://github.com/othree/xml.vim.git
